// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn a{
	font-size: 100%;
	color:yellow
}
button{
	width:48%; 
}
.head{
	background-color:#e0ebeb;
	
}

.intro {
	padding:20px; 
	margin:20px
}
