
.main-page-content{
	padding-top: 50px;
	background-color: #f0f0f5; 
}
.col-md-4{
	border: 10px solid #e0ebeb;
}
h4{
	color:blue;
	text-align:justify

}
.two{
	color: #4d2600; 
	text-align:justify
}
.three{
	margin-top:11%;
	margin-bottom:13%;
	background-color:#f0f0f5 ;
	color:#4d2600; 
	padding:10px;
	text-align:justify

}
.error{
	color:red
}